<a class="project-card" href="{{ project.url | url }}" aria-label="{{ project.data.title }} — {{ project.data.summary }}">
  <figure class="project-card__media">
    <img src="{{ project.data.media.src | url }}" alt="{{ project.data.media.alt }}" loading="lazy" style="object-position: {{ project.data.media.focalPoint }}">
    <p class="project-card__summary">{{ project.data.summary }}</p>
    <figcaption class="project-card__title">{{ project.data.title }}</figcaption>
  </figure>
</a>
