{% if page.url == '/' %}
  <svg class="visual-motif visual-motif--sequence" data-visual-motif="sequence" viewBox="0 0 48 1000" preserveAspectRatio="none" aria-hidden="true" focusable="false">
    <path class="visual-motif__line" pathLength="100" d="M12 0 V205 Q12 220 20 225 V570 Q20 585 12 590 V760 Q12 775 20 780 V1000" />
    <path class="visual-motif__energized" pathLength="100" d="M12 0 V205 Q12 220 20 225 V570 Q20 585 12 590 V760 Q12 775 20 780 V1000" />
    <line class="visual-motif__node" x1="16" x2="24" y1="225" y2="225" />
    <line class="visual-motif__node visual-motif__node--energized" x1="8" x2="16" y1="590" y2="590" />
    <line class="visual-motif__node" x1="16" x2="24" y1="780" y2="780" />
  </svg>
{% else %}
  <svg class="visual-motif visual-motif--fragment" data-visual-motif="fragment" viewBox="0 0 48 300" preserveAspectRatio="none" aria-hidden="true" focusable="false">
    <path class="visual-motif__line" d="M12 0 V95 Q12 112 20 120 V300" />
    <path class="visual-motif__energized" d="M12 0 V95 Q12 112 20 120 V170" />
    <line class="visual-motif__node visual-motif__node--energized" x1="8" x2="16" y1="72" y2="72" />
  </svg>
{% endif %}
